@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;700&family=Nerko+One&family=Roboto:wght@100;400;700&display=swap');

html {
  background-color: #f2f2f2;
}

body {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scroll bar but still allow scroll */
::-webkit-scrollbar {
  display: none;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* Custom font for main logo */
.custom-logo {
  font-family: 'Nerko One', Arial, Helvetica, sans-serif;
}

.custom-para {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-card:hover {
  cursor: pointer;
  -webkit-filter: brightness(85%);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
