@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;700&family=Nerko+One&family=Roboto:wght@100;400;700&display=swap');

html {
  background-color: #f2f2f2;
}

body {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.custom-logo {
  font-family: 'Nerko One', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .show-hamburger {
    display: block;
  }

  .hide-nav {
    display: none;
  }

  .show-buttons {
    display: block;
  }

  .custom-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 7vh;
    left: 0px;
    background-color: black;
    color: white;
    margin: 0;
    width: 100vw;
    padding: 10px;
  }

  .custom-menu-link {
    margin-bottom: 10px;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .hide-buttons {
    display: none;
  }
}
